<!-- templates/contests/contest_stage.html -->
{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="container py-4">
  <h1 class="text-center">Страница голосования</h1>
</div>

<div class="d-grid gap-2 col-6 mx-auto">
  <form class="form-horizontal" id="form-container" method="POST">
    {% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset %}
    <div class="">
    {{ form.as_table }}
    </div>
    {% endfor %}
    <button class="btn btn-lg btn-outline-primary" type="submit">Оценить</button>
    <div class="p-4"></div><!-- отступ -->
  </form>
</div>

{% endblock %}