<!-- templates/contests/contest_list.html -->
{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

  <div class="container">

    {% if contests %}

      <div class="container py-5">
        <h1 class="text-center">{{ title }}</h1>
      </div>

    {% for contest in contests %}
      {% include "includes/contest_card.html" %}

    {% endfor %}

    {% else %}

    {% include "includes/contest_is_not_active.html" %}

    {% endif %}

  </div><!--container-->

  <div class="p-4"></div><!-- отступ -->

{% endblock %}