<!-- templates/contests/contest_stage.html -->
{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="container py-4">
  <h1 class="text-center">{{ title }}</h1>
  <br>
  <h6 class="text-center">Дата проведения: {{ track.start_date }}</h6>
</div>

<div class="d-grid gap-2 col-6 mx-auto">

  <!-- отображаем кнопки этапов конкурса -->
  {% for stage in stages %}
      <a href="{% url 'contests:contest_polling' judge_slug contest.pk track.pk stage.pk %}"
         class="btn btn-lg btn-outline-primary {% if not contest.is_active or not stage.type == 'judged' %}
               {% if judge_slug != 'administrator' %}disabled{% endif %}{% endif %}">
        {{ stage.title }}
      </a>
      <div class="p-1"></div><!-- отступ -->
  {% endfor %}

  <!-- кнопка возврата к выбору потока -->
    <hr>
    <div class="p-1"></div><!-- отступ -->
    <a href="{% url 'contests:contest_detail' judge_slug contest.pk %}"
       class="btn btn-lg btn-outline-dark">
      Вернуться к выбору потока
    </a>
    <div class="p-4"></div><!-- отступ -->

  <div class="p-4"></div><!-- отступ -->
</div>

{% endblock %}